/*body  
{  
    font-family: sans-serif;
    background-image: url('fd1.jpeg') ;
    background-size:100% ;
    background-repeat: no-repeat;  
}  */
body  
{  
    margin: 0;  
    padding: 0;  
    background-color:#756a28a4;  
    font-family: 'Arial';  
}
.signup{  
    width: 420px;  
    overflow: hidden;  
    margin: auto;  
    margin: 18 0 0 420px;  
    padding: 130px;  
    background: #6ae7d7be;  
    border-radius: 20px ;  
      
} 
h2{  
    text-align: center;  
    color: #311525;  
    padding: 10px;  
}  
label{  
    color: #081316;  
    font-size: 15px;  
}  
#Uname{  
    width: 250px;  
    height: 18px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}  
#Pass{  
    width: 250px;  
    height: 18px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
      
} 
#birth{  
    width: 200px;  
    height: 18px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
      
}
#mobile{  
    width: 250px;  
    height: 18px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
      
}
#email{  
    width: 250px;  
    height: 18px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
      
}
#address{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
      
}

#log{  
    width: 150px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: rgb(44, 11, 11);  
  
  
}  
#back{  
    width: 150px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: rgb(44, 11, 11);  
  
  
} 
 
a{  
    float: right;  
    background-color: rgba(233, 20, 20, 0.658);  
} 